@charset "utf-8";

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard Bold"),
    url("../font/Pretendard-Bold.woff2") format("woff2"),
    url("../font/Pretendard-Bold.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src: local("Pretendard SemiBold"),
    url("../font/Pretendard-SemiBold.woff2") format("woff2"),
    url("../font/Pretendard-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: local("Pretendard Medium"),
    url("../font/Pretendard-Medium.woff2") format("woff2"),
    url("../font/Pretendard-Medium.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard Regular"),
    url("../font/Pretendard-Regular.woff2") format("woff2"),
    url("../font/Pretendard-Regular.woff") format("woff");
}

:root {
  --bs-gutter-x: 20px;
  --primary: #004097;
  --write: #FFFFFF;
  --primary-bg: #f5f7f9;
  --sky-bg: #e7edf7;
  --gray-01: #000000;
  --gray-02: #222222;
  --gray-03: #333333;
  --gray-04: #919191;
  --gray-05: #E0E0E0;
  --text-lg: 16px;
  --text-md: 14px;
  --text-sm: 13px;
  --text-mn: 12px;
  --font-sans-serif: "Pretendard", sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  font-size: var(--text-lg);
}

body {
  font-family: var(--font-sans-serif);
  font-size: var(--text-lg);
  font-weight: 500;
  letter-spacing: -0.5px;
  line-height: 1.2;
  margin: 0;
  position: relative;
}

a {
  transition: 0.5s all;
  text-decoration: none;
}

a:hover,
a:focus {
  transition: 0.5s all;
}

dl,
dt,
dd,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

button,
input,
textarea,
select {
  font-family: var(--font-sans-serif);
}

input:focus,
input:hover {
  outline: none;
}

textarea {
  overflow: auto;
}

form {
  width: 100%;
}

/* **************************************** *
 * Button
 * **************************************** */
button {
  align-items: center;
  display: flex;
  gap: 4px;
  justify-content: center;
  transition: 0.5s all;
}

button:hover,
button:focus {
  transition: 0.5s all;
}

.btn-group {
  align-items: center;
  display: flex;
  gap: 8px;
}

.btn-group>button {
  flex: 0 0 auto;
}

.btn-group.flex-end {
  justify-content: flex-end;
}

.btn {
  border: 0;
  border-radius: 4px;
}

.btn.flex {
  display: flex;
  gap: 4px;
}

.btn-r {
  border: 0;
  border-radius: 100px;
}

.btn-mini {
  height: 24px;
  padding: 0 8px;
}

.btn-sm {
  height: 32px;
  padding: 0 16px;
}

.btn-md {
  height: 40px;
  padding: 0 16px;
}

.btn-lg {
  height: 56px;
  padding: 0 16px;
}

@media (min-width: 768px) {
  .btn-md {
    height: 54px;
    padding: 0 16px;
  }
}

.btn-primary {
  background: var(--primary);
  color: #ffffff;
}

.btn-gray {
  background: var(--gray-05);
  color: var(--gray-03);
}

.btn-outline-primary {
  background: #ffffff;
  border: 1px solid #3b5aab;
  color: var(--primary);
}

.btn-outline-gray {
  background: #ffffff;
  border: 1px solid #E3E7EB;
  color: var(--gray-02);
}

/* **************************************** *
 * MODAL
 * **************************************** */
.modal-wrap {
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.modal-wrap.active {
  display: flex;
}

.modal-inner {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.modal-content {
  background-color: #fff;
  box-shadow: 0px 2px 16px 0px rgba(25, 26, 28, 0.2);
  border-radius: 8px;
  max-width: 90%;
  opacity: 0;
  padding: 20px;
  position: relative;
  transform: translateY(-50px);
  text-align: center;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.modal-wrap.active .modal-content {
  opacity: 1;
  transform: translateY(0);
}

/* 추가된 스타일: 애니메이션 초기화 */
.modal-wrap.active .modal-inner {
  animation: modalSlideDown 0.5s ease;
}

@keyframes modalSlideDown {
  from {
    transform: translateY(-30px);
  }

  to {
    transform: translateY(0);
  }
}

.modal-footer {
  border: 0;
  padding: 0;
}

.modal-footer button {
  height: 40px;
}

@media (min-width:768px) {
  .modal-content {
    border-radius: 20px;
    max-width: 410px;
    padding: 36px;

  }
}

/* **************************************** *
 * container
 * **************************************** */
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  width: 100%;
  padding-right: var(--bs-gutter-x, .75rem);
  padding-left: var(--bs-gutter-x, .75rem);
  margin-right: auto;
  margin-left: auto
}

@media (min-width:576px) {

  .container,
  .container-sm {
    max-width: 540px
  }
}

@media (min-width:768px) {

  .container,
  .container-md,
  .container-sm {
    max-width: 720px
  }
}

@media (min-width:1200px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 960px
  }
}

@media (min-width:1200px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1140px
  }
}

@media (min-width:1400px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1320px
  }
}


.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x))
}

.row>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-top: var(--bs-gutter-y)
}

.col {
  flex: 1 0 0%
}


.col-1 {
  flex: 0 0 auto;
  width: 8.33333333%
}

.col-2 {
  flex: 0 0 auto;
  width: 16.66666667%
}

.col-3 {
  flex: 0 0 auto;
  width: 25%
}

.col-4 {
  flex: 0 0 auto;
  width: 33.33333333%
}

.col-5 {
  flex: 0 0 auto;
  width: 41.66666667%
}

.col-6 {
  flex: 0 0 auto;
  width: 50%
}

.col-7 {
  flex: 0 0 auto;
  width: 58.33333333%
}

.col-8 {
  flex: 0 0 auto;
  width: 66.66666667%
}

.col-9 {
  flex: 0 0 auto;
  width: 75%
}

.col-10 {
  flex: 0 0 auto;
  width: 83.33333333%
}

.col-11 {
  flex: 0 0 auto;
  width: 91.66666667%
}

.col-12 {
  flex: 0 0 auto;
  width: 100%
}


@media (min-width:768px) {
  .col-md {
    flex: 1 0 0%
  }

  .col-md-1 {
    flex: 0 0 auto;
    width: 8.33333333%
  }

  .col-md-2 {
    flex: 0 0 auto;
    width: 16.66666667%
  }

  .col-md-3 {
    flex: 0 0 auto;
    width: 25%
  }

  .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%
  }

  .col-md-5 {
    flex: 0 0 auto;
    width: 41.66666667%
  }

  .col-md-6 {
    flex: 0 0 auto;
    width: 50%
  }

  .col-md-7 {
    flex: 0 0 auto;
    width: 58.33333333%
  }

  .col-md-8 {
    flex: 0 0 auto;
    width: 66.66666667%
  }

  .col-md-9 {
    flex: 0 0 auto;
    width: 75%
  }

  .col-md-10 {
    flex: 0 0 auto;
    width: 83.33333333%
  }

  .col-md-11 {
    flex: 0 0 auto;
    width: 91.66666667%
  }

  .col-md-12 {
    flex: 0 0 auto;
    width: 100%
  }
}


@media (min-width:1200px) {
  .col-lg {
    flex: 1 0 0%
  }

  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.33333333%
  }

  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.66666667%
  }

  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%
  }

  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%
  }

  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.66666667%
  }

  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%
  }

  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.33333333%
  }

  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.66666667%
  }

  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%
  }

  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.33333333%
  }

  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.66666667%
  }

  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%
  }
}

/* **************************************** *
 * Card
 * **************************************** */
.card {
  background: var(--write);
  border: 0;
  border-radius: 8px;
  box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.15);
  position: relative;
}

.card.type2 {
  background: #F5F7F9;
  border-radius: 4px;
  box-shadow: none;
  color: var(--gray-02);
  padding: 12px;
}

@media (min-width: 768px) {
  .card.type2 {
    border-radius: 8px;
    padding: 20px;
  }
}

@media (min-width: 1200px) {}

/* **************************************** *
 * input
 * **************************************** */
.input-wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-group {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.input-area {
  align-items: center;
  display: flex;
  gap: 4px;
}

.input-group label {
  color: var(--gray-03);
  font-size: var(--text-mn);
  font-weight: 500;
}

.input-group input[type=text],
.input-group input[type=password],
.input-group input[type=number] {
  border: 1px solid #D9D9D9;
  border-radius: 4px;
  color: #616970;
  font-size: var(--text-mn);
  height: 36px;
  padding: 0 12px;
  width: 100%;
}

.input-group input[type=number]::-webkit-outer-spin-button,
.input-group input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
}

.input-group input[type=text]::placeholder,
.input-group input[type=password]::placeholder,
.input-group input[type=number]::placeholder {
  color: var(--gray-04);
}

@media (min-width: 768px) {
  .input-wrap {
    gap: 28px;
  }

  .input-area {
    gap: 8px;
  }

  .input-group label {
    font-size: var(--text-lg);
  }

  .input-group input[type=text],
  .input-group input[type=password],
  .input-group input[type=number] {
    border-radius: 8px;
    color: var(--gray-02);
    font-size: var(--text-lg);
    height: 48px;
    padding: 0 20px;
  }
}

/* **************************************** *
 * tab
 * **************************************** */
.tabs {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.tab-list {
  background: #F5F7F9;
  border-radius: 8px;
  display: flex;
  list-style: none;
  padding: 0;
}

.tab-button {
  align-items: center;
  background: transparent;
  color: #ADB1B3;
  cursor: pointer;
  font-size: var(--text-md);
  font-weight: 500;
  display: flex;
  justify-content: center;
  height: 36px;
  text-align: center;
  width: 50%;
}

.tab-button.active {
  background: var(--primary);
  border-radius: 8px;
  box-shadow: 0.75px 0.75px 3px 0px rgba(0, 0, 0, 0.35);
  color: var(--write);
}

.tab-content {
  border-top: 1px solid #F1F6FA;
  display: none;
  padding: 16px 0 0 0;
}

@media (min-width: 768px) {
  .tab-button {
    font-size: 18px;
    font-weight: 500;
    height: 48px;
  }
}

/* **************************************** *
 * Header
 * **************************************** */
.header-wrap {
  background: var(--write);
  /* border-bottom: 1px solid #e5e7e9; */
  box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 1001;
}

.header {
  align-items: center;
  display: flex;
  height: 64px;
  justify-content: space-between;
}

.header-logo {
  align-items: center;
  display: flex;
  gap: 4px;
}

.header-logo img {
  height: 26px;
}

.header-logo small {
  color: var(--primary);
  font-size: var(--text-md);
}

.header button {
  align-items: center;
  background: var(--sky-bg);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  padding: 0;
  width: 32px;
  height: 32px;
}

.header .btn-exit-app {
  display: none;
}

.header .btn-menu-close {
  display: none;
}

.header .aside-nav {
  display: none;
}

@media (min-width: 768px) {
  .header-wrap {
    background: transparent;
    box-shadow: none;
    border: 0;
    padding: 28px 0 0 0;
  }

  /* .header-wrap .container {
    max-width: 942px;
  } */

  .header {
    background: var(--write);
    box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    border: 0;
    height: 80px;
    padding: 0 12px 0 36px;
  }

  .header-logo {
    gap: 8px;
  }

  .header-logo img {
    height: 36px;
  }

  .header-logo small {
    font-size: var(--text-lg);
  }

  .header button {
    border-radius: 8px;
    height: 56px;
    width: 56px;
  }

  .header button i {
    height: 36px;
    width: 36px;
  }
}

@media (min-width: 1200px) {
  .header-wrap {
    max-width: 100%;
  }

  .header-wrap .container {
    max-width: 1864px;
  }

  .header .btn-exit-app {
    display: block;
  }

  .header .btn-menu,
  .header .btn-menu-close {
    display: none !important;
  }

  .header .aside-nav {
    display: block;
  }
}


.aside-wrap {
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  transition: ease 1s;
  width: 100%;
  z-index: 1000;
}

.aside-content {
  background: var(--write);
  bottom: 0;
  padding: 16px;
  position: absolute;
  right: 0;
  height: calc(100vh - 64px);
  max-width: 280px;
  width: 50%;
}

.aside-nav>ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.nav-item {
  align-items: center;
  border-radius: 8px;
  color: var(--gray-02);
  display: flex;
  font-size: var(--text-md);
  gap: 12px;
  padding: 6px;
}

.nav-item span {
  align-items: center;
  background: #F0F3F8;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  height: 30px;
  width: 30px;
}

.nav-item.active {
  background: #E4EBF6;
  color: var(--primary);
  font-weight: bold;
}

.nav-item.active span {
  background: var(--primary);
}

.sub-nav {
  border-radius: 8px;
  border: 1px solid #E7EAEE;
  display: none;
  flex-direction: column;
  margin: 12px 0 0 0;
}

.sub-nav-item {
  color: var(--gray-02);
  display: block;
  font-size: var(--text-md);
  padding: 12px 20px;
}

.sub-nav-item.active {
  background: var(--primary);
  color: var(--write);
  font-weight: bold;
}

.sub-nav>li:first-child>.sub-nav-item {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.sub-nav>li:last-child>.sub-nav-item {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

@media (min-width: 768px) {
  .aside-content {
    bottom: 28px;
    border-radius: 16px;
    height: calc(100vh - 152px);
    padding: 20px;
    right: 20px;
  }

  .aside-nav>ul {
    gap: 20px;
  }

  .nav-item {
    border-radius: 12px;
    font-size: var(--text-lg);
    gap: 16px;
  }

  .nav-item span {
    border-radius: 8px;
    height: 40px;
    width: 40px;
  }

  .nav-item span i {
    height: 20px !important;
    width: 20px !important;
  }

  .sub-nav {
    border-radius: 12px;
    margin: 8px 0 0 0;
  }

  .sub-nav-item {
    font-size: var(--text-lg);
    padding: 20px;
  }
}

@media (min-width: 1200px) {
  .aside-wrap {
    display: none !important;
  }

  .header .aside-nav>ul {
    flex-direction: row;
    gap: 4px;
  }

  .header .aside-nav>ul>li {
    position: relative;
  }

  .header .sub-nav {
    background: var(--write);
    left: 50%;
    margin: 24px 0 0 0;
    position: absolute;
    transform: translateX(-50%);
    width: 280px;
  }

  .header .sub-nav>li {
    position: relative;
  }

  .header .sub-nav .sub-nav-item {
    padding: 16px 32px;
  }

  .header .sub-nav>li>.sub-nav-item.active {
    background: #E4EBF6;
    color: var(--primary);
  }

  .header .depth-3 {
    background: var(--write);
    border: 1px solid #E7EAEE;
    border-radius: 12px;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: -238px;
    width: 230px;
  }

  .header .depth-3 li:first-child .sub-nav-item {
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
  }

  .header .depth-3 li:last-child .sub-nav-item {
    border-bottom-left-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
  }

  .header .depth-3 .sub-nav-item {
    padding: 16px 32px;
  }

  .header .depth-3 li {
    border-bottom: 1px solid #E7EAEE;
  }

  .header .depth-3 li:last-child {
    border: 0;
  }
}

@media (min-width: 1400px) {
  .header .aside-nav .nav-item {
    min-width: 168px;
  }
}

@media (min-width: 1600px) {
  .header .aside-nav .nav-item {
    min-width: 220px;
  }
}

/* **************************************** *
 * pc & mobile
 * **************************************** */
.pc {
  display: none;
}

.mo {
  display: block;
}

.mo.flex {
  display: flex;
}

@media (min-width: 768px) {
  .pc {
    display: block;
  }

  .mo {
    display: none;
  }

  .mo.flex {
    display: none;
  }
}

.dropdown {
  background: var(--write);
  border-radius: 8px;
  padding: 16px;
  position: absolute;
  left: 36px;
  top: 36px;
  width: 178px;
}

.dropdown-btn {
  background: none;
  border: 0;
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 100%;
}

.dropdown-btn.active {
  padding: 0 0 6px 0;
}

.dropdown-btn::after {
  background: url(../img/ico/i-arrow-top.png);
  background-size: cover;
  content: '';
  display: inline-block;
  transform: rotate(180deg);
  transition: all 1s;
  height: 16px;
  width: 16px;
}

.dropdown-btn.active::after {
  transform: rotate(0);
}

.dropdown-content {
  border-top: 1px solid #E5E7E9;
  display: none;
  position: relative;
  z-index: 1;
}

.dropdown-content.active {
  display: block;
}

.dropdown-content li {
  padding: 6px 0;
  text-decoration: none;
  display: block;
}

.check-group input {
  display: none;
}

.check-group label {
  align-items: center;
  color: #222222;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-weight: 500;
  gap: 8px;
}

.check-group label::before {
  background: url(../img/ico/i-checkbox.png);
  background-size: cover;
  content: '';
  display: inline-block;
  height: 20px;
  width: 20px;
}

.check-group input:checked + label::before {
  background: url(../img/ico/i-checkbox-checked.png);
  background-size: cover;
}