@charset "utf-8";
@import url(../lib/bootstrap.min.css);
@import url(common.css);
@import url(ico.css);

/*
 * File       : styles.css
 * Date       : 2024. 04. 10.
 *
 * Dependency : libs/bootstrap.min.css
 *
 * SUMMARY:
 * 01) 로그인

 */

/* **************************************** *
 * 로그인
 * **************************************** */
.login-wrap {
  background: var(--primary-bg);
  height: calc(100vh - 64px);
}

.login-wrap .container {
  height: 100%;
}

.login-wrap section {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 24px 0;
}

.login-info {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: auto 0 0 0;
}

.login-info h6 {
  color: var(--gray-01);
  font-size: var(--text-md);
  text-align: center;
}

.login-info h5 {
  color: var(--primary);
  font-size: var(--text-lg);
  font-weight: bold;
}
@media (min-width: 768px) {
}

@media (min-width: 992px) {
}
